$fz-base   : 16;

$bg-main   : #fafafa;
$bg-btn    : #fee040;

$c-main    : #222;
$c-border  : #ebebeb;
$c-menu    : #666;
$c-white   : #fff;
$c-btn     : #222;
$c-green   : #44C374;

$box-shadow: 0 0 10px rgba(0, 0, 0, .1);