.dishes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 em(-10);

  &__item {
    width: 33.333%;
    padding: 0 em(10);
    box-sizing: border-box;
    margin-bottom: em(20);

    @media screen and (max-width: 1100px) {
      width: 50%;
    }

    @media screen and (max-width: 540px) {
      width: 100%;
    }
  }

  &__wrapper {
    background-color: $c-white;
    overflow: hidden;
    border-radius: em(6);
    box-shadow: $box-shadow;
  }

  &__block {
    padding: em(10) em(20) em(20);
  }

  &__title {
    margin: 0 0 em(15);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2D8D51;
    font-weight: 400;
    font-size: em(16);
    text-decoration: underline;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    cursor: pointer;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-bottom: em(20);

    &_center {
      align-items: center;
    }
  }

  &__price {
    font-weight: bold;
    font-size: em(28);
  }

  &__width {
    display: flex;
    align-items: center;

    .dishes__name {
      margin: 0 em(10) 0 0;
    }
  }

  .buy-panel {
    display: flex;
    justify-content: center;
  }

}